name: Acme Ecommerce CI/CD

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Configurar entorno
        run: bash scripts/setup_env.sh

      - name: Ejecutar pruebas
        run: bash scripts/run_tests.sh

      - name: Generar build
        run: bash scripts/build_app.sh

      - name: Subir build como artefacto
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: build/

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Descargar artefacto del build
        uses: actions/download-artifact@v4
        with:
          name: build
          path: build

      - name: Mostrar contenido descargado
        run: ls -R build

      - name: Desplegar aplicación
        run: bash scripts/deploy_app.sh

      - name: Dar permisos y desplegar aplicación
        run: |
        chmod: +x scripts/deploy_app.sh
        bash : scripts/deploy_app.sh


